body{
    background-color:#212121;
    opacity:;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    
}
.container{
    color: #141414;
    background-color: #212121;
    /* background-color:rgba(190, 140, 240, 0.9); */
   
    
}
.contain{
    border-radius: 10px;
    margin-left: -180px;

}
.contain :hover{
    color: aqua;
    cursor: pointer;
    font-size: 24px;
    transition: 0.56s;
}

.card{
    background-color:#333;
    margin: 15px;
    position: relative;
    width: 350px;
    height: 200px;
    border: 2px solid red;
}
.card mark{
    opacity: 0.5;
    color:aqua;
}
